{% load rest_framework %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Quicksell Email Confirmation</title>
		<style>
			html, body {height: 100%}
			body {
				display: flex;
				background-color: palegreen;
				align-items: center;
				justify-content: center;
			}
			#status {font-size: 4vw}
		</style>
	</head>
	<body>
		<div id="status">JavaScript required!</div>
		<script type="text/javascript">
			window.onload = function() {
				var status = document.getElementById('status');
				status.textContent = "Verifying email..."
				
				var xhr = new XMLHttpRequest();
				xhr.open('PATCH', '', true);
				xhr.setRequestHeader('Content-type', 'application/json');
				xhr.onload = function() {
					if (xhr.status == 200)
						status.textContent = "Email confirmed!"
					else
						status.textContent = "Invalid or expired URL."
				}
				xhr.send()
			}
		</script>
	</body>
</html>
